
article{
    width: 100%;
}

section{
    border: 3px solid #cdcbcb;
    padding: 20px;
    border-radius: 10px;
}

section h1{
    font-family: "Fira Code Retina", sans-serif;
    font-size: 30px;
}

.question-content{
    font-size: 1.4em;
    padding-bottom: 20px;
}


section, .wrap-answer  {
    margin: auto;
    margin-top: 20px;
    width: 600px;
}

.user-profil{
    display: flex;

}

.user-profil img{
    width: 100%;
    height: auto;
}

.user-profil p{
    font-size: 1.2em;
    margin: 0;
    padding: 5px 0 0 20px;

}

.antwort{
    margin: auto;
    margin-top: 60px;
    width: 700px;
}


.antwort h2{
    border-bottom: black solid 1px;
}

.wrap-button{
    width: 640px;
    margin: auto;
    margin-top: 40px;
}
.post-button{
    font-size: 20px;
    background-color: #ffffff;
    box-shadow: none;
    border: 2px solid #b5b5b5;
    padding: 10px 30px 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.post-button:hover{
    background-color: #e8e8e8;
}

.wrap-img{
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}