.post{
    border: 3px solid #cdcbcb;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    margin-top: 40px;
    width: 600px;
}

.post-user-profil{
    display: flex;
}

.post-user-profil img{
    height: 20px;
    width: auto;
}

.post-user-profil p, .post-blc p{
    font-size: 1em;
    margin: 0;
    padding: 0 0 0 5px;
}

.post-blc{
    min-height: 30px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 30px 0.5fr;
    grid-template-areas:
    "comment edit delete . img count";
}

.comment-button{
    background-color: #e6e6e6;
    grid-area: comment;
}
.comment-button:hover{
    background-color: #d8d8d8;
    border-radius: 10px;
}

.edit-button{
    background-color: #e6e6e6;
    grid-area: edit;
}

.edit-button:hover{
    background-color: #d8d8d8;
}

.delete-button{
    background-color: #e6e6e6;
    grid-area: delete;
}
.delete-button:hover{
    background-color: #ec9797;
}


.comment-button, .delete-button, .edit-button{
    border: none;
    width: 100px;
    border-radius: 10px;
    margin-right: 10px;
}

.post-blc p{
    grid-area: count;
    text-align: left;
}
.post-likes{
    height: 25px;
    width: auto;
    grid-area: img;
}

.post-likes:hover{
    height: 28px;
    width: auto;
}

.post-answer{
    font-size: 1.2em;
}




